[Unit]
Description=Carbon cache service for Graphite
Wants=basic.target
After=basic.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/carbon-cache
User=<%= @user %>
ExecStart=<%= @root_dir %>/bin/carbon-cache.py --debug start
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
