[Unit]
Description=Carbon cache service for Graphite
Wants=network-online.target
Wants=local-fs.target

[Install]
WantedBy=multi-user.target

[Service]
User=<%= @user %>
Group=<%= @group %>

Restart=on-failure

WorkingDirectory=<%= @root_dir %>

Environment=GRAPHITE_STORAGE_DIR=<%= @root_dir %>/storage
Environment=GRAPHITE_CONF_DIR=<%= @root_dir %>/conf

ExecStart=<%= @root_dir %>/bin/carbon-cache.py --debug start

PIDFile=<%= @root_dir %>/storage/carbon-cache-a.pid
